div.header#header
  h1.banner= title
  ul.menu
    li.menuItem
      a(href='#humans') Humans
    li.menuItem
      a(href='#news') News
    li.menuItem
      a(href='#reel') Reel
    li.menuItem
      a(href='#footer') Clients
    li.menuItem
      a(href='#contact') Contact

div.profile#profile
div.profileBio#profileBio
div.profileGallery#profileGallery

div.container

  div.console
    div#reel
      div.buffer
      iframe(id='film',src="http://player.vimeo.com/video/40337000?byline=0&amp;color=ffffff", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)
    br
    div.humans#humans
      div.buffer
      h1.subHead HUMANS
      each person, key in people
        div(class='person', id=key)
          img(class='swap', src='images/'+key+'_hi_res_thumb.jpg')
          p !{person.blurb}
    div#news
      div.buffer
      h1.subHead NEWS
      p.news !{news}
    div#contact
      div.buffer
      h1.subHead CONTACT
      div.contact
        h3 Angeline Gragasin | LOS ANGELES
        br
        h3 angeline at nationalheadquarters.org
        br
        h3 213.293.5288
        br
      div.contact.odd
        h3 Rachel Wolther | NEW YORK CITY
        br
        h3 rachel at nationalheadquarters.org
        br
        h3 347.603.4570
        br
      div.contact
        h3 Daniel Postilnik | CHICAGO
        br
        h3 daniel at nationalheadquarters.org
        br
        h3 773.236.7474
        br

  script(type='text/javascript', src='js/masonry.min.js')
  script(type='text/javascript', src='js/nhq.js')