!!!
html
  head
    title= title
    meta(name='description', content='Video and Internet Media Producers')
    meta(property='og:title', content= title)
    meta(property='og:url', content='http://nationalheadquarters.org')
    meta(property='og:site_name', content='nationalheadquarters.org')
    meta(name='keywords', content='video production, content creation, motion graphics, animation, music video, documentaries')
    meta(http-equiv='content-type', content='text/html', charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')


  body!= body
  include include/footer
  