@font-face {
  font-family: JeanLuc;
  font-style: normal;
  src: url("JeanLuc-Webfonts/jeanlucweb-bold.eot"), url("JeanLuc-Webfonts/jeanlucweb-bold"), url("JeanLuc-Webfonts/jeanlucweb-bold.woff");
}
body,
div,
p,
h1,
h2,
h3,
h4,
a,
form,
input,
textarea,
ul,
li,
br {
  padding: 0;
  margin: 0;
  -webkit-margin-before: none;
}
ul,
li {
  display: inline;
}
body {
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 62.5%;
}
a {
  color: #fff;
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 107px;
  color: #fff;
  background: #000;
  font: 1.33rem 'JeanLuc';
}
.subHead > h1 {
  display: block;
  width: 100px;
  z-index: 100;
}
h1.subHead {
  color: #fff;
  background: #000;
  font-size: 3rem;
  font: 2rem 'JeanLuc';
  width: 17%;
  margin: 0 auto 2rem;
  text-align: center;
}
.banner {
  padding: 11px;
}
.menu {
  text-align: left;
  height: 300px;
}
.menu > a {
  color: #fff;
}
.menuItem {
  margin: 0 1rem;
  font: italic 1.4rem 'Times New Roman';
}
.buffer {
  height: 117px;
}
h1:not(.banner,
.subHead) {
  font-size: 3rem;
  margin: 0 0 2rem 0;
  color: #000;
  font: italic 2.4rem;
}
h2 {
  font: 1.4rem 'Lucida Sans Unicode';
}
h3 {
  font: 1rem 'Lucida Sans Unicode';
}
p {
  font: 1.2rem 'Lucida Sans Unicode';
  line-height: 1.63rem;
}
.txt {
  max-width: 528px;
  width: 32%;
  float: right;
  border-left: 1px solid #000;
  padding: 1.5%;
  margin-bottom: 3em;
}
.txt > p {
  font-size: 1.6rem;
  line-height: 1em;
  padding: 0 1.3rem 0 0;
  text-align: left;
  font: 2.6rem 'Lucida Sans Unicode' #000;
  line-height: 1.63rem;
}
.biom {
  z-index: -1;
  max-width: 1630px;
}
.biopictorial {
  margin-bottom: 3em;
  float: left;
  width: 65%;
  max-width: 1056px;
  z-index: -1;
}
.biopic {
  max-width: 528px;
  width: 48%;
  margin: 10px 0;
}
.biopic > img {
  width: 100%;
}
h4 {
  font-size: 1rem;
}
.profile {
  position: absolute;
  top: 107px;
  left: 0;
  background: #fff;
  color: color;
  z-index: 3;
  max-width: 1630px;
  font-size: 5em;
  display: none;
  padding: 0 5%;
}
.profilePic {
  position: relative;
  float: left;
  min-width: 320px;
  width: 20%;
  z-index: 4;
  clear: both;
  margin-top: 1em;
  display: block;
}
.profileBio {
  position: relative;
  float: left;
  min-width: 320px;
  width: 45%;
  font-size: 18px;
  margin-top: 1em;
  padding: 0 2em 0 1em;
}
.profileGallery {
  position: relative;
  width: 100%;
  max-width: 2160px;
  float: left;
}
.imgDiv {
  float: left;
  width: 320px;
  margin: 10px;
}
.container {
  max-width: 2160px;
  margin: 0 auto;
  visibility: hidden;
}
.humans {
  width: 100%;
}
.person {
  text-align: left;
  vertical-align: top;
  display: inline-block;
  width: 25%;
  height: 650px;
}
.person:hover {
  cursor: pointer;
}
.person > img {
  width: 75%;
  display: block;
  cursor: pointer;
}
.person > p {
  width: 85%;
  padding: 0 1.3rem 0 0;
  text-align: left;
  font: 2.6rem 'Lucida Sans Unicode' #000;
  line-height: 1.63rem;
}
.person h1 {
  padding-top: 10px;
}
.rollOver {
  cursor: pointer;
}
.rollOver:hover > img {
  visibility: hidden;
}
.person > h1 {
  font: italic 1.8rem 'Times New Roman';
  margin: 0.25rem 0;
  color: #000;
}
.person > h2 {
  font-size: 1rem;
  margin: 0.25rem 0;
  color: rgba(0,0,0,0.50);
}
.contact {
  width: 33%;
  height: 8rem;
  display: inline-block;
  margin-bottom: 10%;
}
.contact.odd {
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}
.contact > h2 {
  padding: 0.5rem;
}
.console,
.header,
.footer {
  width: 100%;
  text-align: center;
}
.footer {
  clear: both;
  background: #000;
  color: #fff;
  bottom: 0;
  left: 0;
  height: 637px;
}
.footer > h2 {
  font: italic 1.4rem 'Times New Roman';
  padding-top: 20px;
}
p.news {
  font: italic 3rem 'Times New Roman';
  text-align: left;
}
.news > a {
  text-decoration: underline;
  color: #19aaff;
  font-weight: 900;
}
.comingSoon {
  width: 75%;
  position: relative;
  top: 40px;
  left: 0;
  cursor: pointer;
  text-align: left;
  z-index: -1;
}
.comingSoon > h2 {
  font-size: 3rem;
}
.logo {
  width: 10%;
  margin: 35px 0;
}
.tip {
  text-align: center;
  background: rgba(0,0,0,0.30);
  position: fixed;
  width: 200px;
  height: 70px;
  left: 10px;
  top: 300px;
  display: none;
  color: #fff;
  z-index: 9;
}
