@font-face {
  font-family: JeanLuc;
  font-style: normal;
  src: url("JeanLuc-Webfonts/jeanlucweb-bold.eot"), url("JeanLuc-Webfonts/jeanlucweb-bold"), url("JeanLuc-Webfonts/jeanlucweb-bold.woff");
}
body,
div,
p,
h1,
h2,
h3,
h4,
a,
form,
input,
textarea,
ul,
li {
  padding: 0;
  margin: 0;
  -webkit-margin-before: none;
}
ul,
li {
  display: inline;
}
body {
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 62.5%;
}
a {
  color: #fff;
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 87px;
  color: #fff;
  background: #000;
  font: 1.33rem 'JeanLuc';
}
.subHead > h1 {
  display: block;
  width: 100px;
}
h1.subHead {
  color: #fff;
  background: #000;
  font-size: 3rem;
  font: 2rem 'JeanLuc';
  width: 33%;
  margin: 0 auto 2rem;
}
.banner {
  padding-top: 7px;
}
.menu {
  text-align: left;
  height: 300px;
}
.menu > a {
  color: #fff;
}
.menuItem {
  margin: 0 1rem;
  font: italic 1.4rem 'Times New Roman';
}
.buffer {
  height: 98px;
}
h1:not(.banner,
.subHead) {
  font-size: 3rem;
  margin: 0 0 2rem 0;
  color: #000;
  font: italic 2.4rem;
}
h2 {
  font: 1.4rem 'Lucida Sans Unicode';
}
h3 {
  font: 1rem 'Lucida Sans Unicode';
}
p {
  font: 1.2rem 'Lucida Sans Unicode';
  line-height: 1.63rem;
}
h4 {
  font-size: 1rem;
}
.container {
  max-width: 2160px;
  margin: 0 auto;
}
.humans {
  width: 100%;
}
.person {
  text-align: left;
  vertical-align: top;
  display: inline-block;
  width: 25%;
  height: 600px;
}
.person > img {
  width: 75%;
  display: block;
}
.person > p {
  padding: 0 1.3rem 0 0;
  text-align: left;
  font: 2.6rem 'Lucida Sans Unicode' #000;
  line-height: 1.63rem;
}
.person > h1 {
  font-size: 1.5rem;
  margin: 0.25rem 0;
  color: #000;
}
.person > h2 {
  font-size: 1rem;
  margin: 0.25rem 0;
  color: #333;
}
.contact {
  width: 33%;
  height: 8rem;
  display: inline-block;
  margin-bottom: 100%;
}
.contact.odd {
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}
.contact > h2 {
  padding: 0.5rem;
}
.console,
.header,
.footer {
  width: 100%;
  text-align: center;
}
.footer {
  background: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
}
