<h1>Carl Sondrol</h1>

<p>Carl Sondrol is an LA-based Film Composer and Sound Designer from Muscatine, Iowa. His collaborators include directors Gus Gavino, David Fishel, and Celia Rowlson-Hall, and his clients include Nickelodeon, DumbDumb, Optimus, Wiseguy Pictures, ESPN, Motorola, Samsung, CBS, and Activision. He has composed over 80 songs and original scores for CollegeHumor, and won 2 Webby Awards in the process. Carl is also the composer and sound designer for the animated webseries Axe Cop, and the festival-winning feature films Farewell Darkness, The Old Man and The Seymour, and Carpe Millenium.</p> 

<p>Carl has been playing and studying music his entire life. His favorite instruments are piano, accordion, and trumpet, and he studied Classical and Jazz Music Theory as an undergraduate at The University of Iowa - along with Computer Science. He's performed in jazz bands, rock bands, chamber ensembles, oldies cover bands, and experimental improv groups. He is currently recording a new studio album with singer Batika Jones. Carl speaks German and C+.</p>


